{% extends 'base.html' %} {% block content%}
<header>
  <h1>
    <span>
      Empowering
      <span>programmers</span>
    </span>
    <span>through <span>connection...</span></span>
  </h1>
  <p>
    ...encapsulates our dedication to creating a supportive community where
    programmers can collaborate, learn, and innovate together. Join us and be
    part of a network that fosters growth and drives technological advancement.
  </p>
  <div class="action-buttons-container">
    <button>Sign up</button>
    <button>Login</button>
  </div>
</header>
{% endblock content %}
